@media(max-width: 1400px) {

    .container {
        max-width: 1140px;
    }

    .hed_links{
        font-size: 25px;
    }

    .s1_blocks{
        flex-direction: column;
        gap: 250px;
    }

}

@media(max-width: 1200px) {

    .container {
        max-width: 960px;
    }

    .header_div{
        flex-direction: column;
        align-items: center;
    }

    .hed_img{
        margin: 50px 0;
    }

    .s2img{
        display: none;
    }

    .sec3_betw{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

}

@media(max-width: 992px) {

    .container {
        max-width: 720px;
    }

    .nav_a{
        font-size: 15px;
    }

    .nav_ul{
        gap: 15px;
    }

    .s1h2{
        margin-top: 50px;
    }

}

@media(max-width: 768px) {

    .container {
        max-width: 540px;
    }

    .s1_blocks{
        display: none;
    }

    .s1_blocks_altver{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 70px;
    }

    .nav{
        flex-direction: column;
    }

    .hed_links{
        font-size: 15px;
    }

    h1{
        font-size: 30px;
        line-height: 45px;
        text-align: center;
    }

    .hed_lp{
        font-size: 15px;
    }

    .hed_la{
        font-size: 14px;
    }

    .hed_numbers_div{
        flex-direction: column;
        align-items: center;
    }

    .hed_numbers{
        margin: 20px 0;
    }

    .hed_img{
        height: 400px;
        width: 400px;
    }

    .links_ul{
        flex-direction: column;
        align-items: center;
    }

    .hed_links{
        font-size: 40px;
    }

    .hed_bottom_div{
        justify-content: center;
    }

    .hed_numbers_div{
        width: 320px;
    }

    .hnd{
        display: flex;
        justify-content: center;
    }

    .hed_lp{
        text-align: center;
        width: 320px;
    }

    .hed_left{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1{
        width: 320px;
    }

    .header{
        padding: 20px 0 30px;
    }

    .hed_div_a{
        justify-content: center;
    }

    .hed_bottom_div{
        margin-top: 20px;
    }

    .hed_la {
        background: #54C352;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 10px;
    }

}

@media(max-width: 576px) {

    .container {
        max-width: 100%;
    }

    .s2r_adiv{
        text-align: center;
    }

    .hed_img{
        width: 320px;
    }

    .hed_div_a{
        width: 320px;
    }

    .hed_left{
        width: 320px;
    }

    .altver_block{
        width: 420px;
    }

    .s1h2{
        font-size:30px ;
    }

    .s1p{
        font-size: 20px;
    }

    .s2r_h2{
        font-size: 30px;
        line-height: 40px;
    }

    .s2r_p{
        font-size: 15px;
        line-height: 20px;
    }
    
}


@media(max-width: 450px) {
    .altver_block{
        width: 380px;
    }

    .sec3_div{
        width: 280px;
    }

    .sec3_p{
        font-size: 15px;
        line-height: 30px;
    }
}


@media(max-width: 400px) {
    .altver_block{
        width: 280px;
    }

    .s1h2{
        font-size:25px ;
        line-height: 40px;
    }

    .s1p{
        font-size: 15px;
        line-height: 30px;
    }
}